<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <!-- Default Segment -->
<ion-segment (ionChange)="segmentChanged($event)">
  <ion-segment-button value="new">
    <ion-label>New</ion-label>
    <ion-icon name="notifications-outline"></ion-icon>

  </ion-segment-button>
  <ion-segment-button value="later">
    <ion-label>See Later</ion-label>
    <ion-icon name="time"></ion-icon>
  </ion-segment-button>
</ion-segment>
</ion-content>
